header {
  position: relative;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  background-color: #eb8d00;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  text-align: center;
  /* top: 120px; */
}


#ProfPic {
  position: relative;
  top: 1em;
  width: 8em;
  height: 8em;
}

#ProfName {
  text-align: center;
}
