header {
  position: relative;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  background-color: #eb8d00;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  text-align: center;
}


#ProfPic {
  position: relative;
  top: 2em;
  width: 10em;
  height: 10em;
}

#ProfName {
  margin-top: 2em;
  text-align: center;
}
