.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #4056A1;
  font-size: 40px;
  z-index: 1030;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Logo {
  font-family: 'Bungee', sans-serif;
}

#sideHeader{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 60px;
  margin-right: 4%;
}

#tweet {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

#downArrow {
  height: 25px;
  width: 20px;
  margin-left: 45%;
}

