section .new-tweet{
  width: 100%;
  padding-bottom: 50px;
  bottom: 30px;
}
section form{
  width: 100%;
}
textarea {
  background-color: #f4f1ec;
  height: 45px;
  color: black;
  border: none;
  border-bottom: solid;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

input {
  background-color: #4d4fcf;
  left: 0%;
  min-width: 10%;
  border: none;
  color: white;
  text-align: center;
  font-family: 'Bungee', sans-serif;
  font-size: 22px;
  float: left;
}

.counter {
  right: 0%;
  font-family: 'Bungee', sans-serif;
  font-style: normal;
  float: right;
}

.counter.over {
  color: red;
}