textarea {
  background-color: #f4f1ec;
  position: relative;
  left: 5%;
  top: 10px;
  height: 45px;
  color: black;
  border: none;
  border-bottom: solid;
  font-family: 'Source Sans Pro', sans-serif;
  width: 90%;
}


input {
  background-color: #4d4fcf;
  position: relative;
  top: 12px;
  left: 5%;
  border: none;
  color: white;
  padding: 1%;
  text-align: center;
  font-family: 'Bungee', sans-serif;
  display: inline-block;
  font-size: 20px;
}