section {
  position: relative;
  width: 100%;
}
textarea {
  background-color: #f4f1ec;
  position: relative;
  height: 45px;
  color: black;
  border: none;
  border-bottom: solid;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}


input {
  background-color: #4d4fcf;
  position: absolute;
  top: 54px;
  left: 0%;
  min-width: 10%;
  border: none;
  color: white;
  padding: 0.5% 0.75%;
  text-align: center;
  font-family: 'Bungee', sans-serif;
  font-size: 22px;
}

.counter {
  position: absolute;
  top: 54px;
  right: 0%;
  font-family: 'Bungee', sans-serif;
  font-style: normal;
}

.counter.over {
  color: red;
}