.tweet {
  border-color: black;
  border: solid 5px;
  width: 100%;
  position: absolute;
  top: 250px;
  height: 350px;
  /* display: flex; */
  /* align-items: flex-start; */
  /* justify-content: space-between; */
}

.tweet .tweet-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 140px;
  padding: 1%;
}

.tweet .tweet-header .profileName{
  display: flex;
  flex-direction: row;
  align-content: center;
}

.tweet .tweet-header img{
  height: 100px;

}

.tweet .tweet-header .username{
  display: flex;
  /* flex-direction: row; */
  align-items: baseline;
}

.tweet .tweet-body{
  min-height: 80px;
  padding: 1%;
  padding-bottom: 5%;
  display: flex;
  align-items: bottom;
}


.date {
  /* flex-grow: 1; */
  display: flex;
  align-items: bottom;
  justify-content: flex-end;
  text-align: left;
  padding: 1%;
}

/* .icon {
  text-align: right;
  /* display: flex; */
  /* width: 20px; */
  /* display: flex;
  
  height: 10px;
  width: 10px;
  align-content:;
  
} */