.tweet {
  border-color: black;
  border: solid 2px;
  width: 100%;
  top: 150px;
  height: 350px;
  margin-bottom: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}


.tweet .tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 140px;
  padding: 1%;
}

.tweet .tweet-header .profileGrp{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 10px;
  padding-left: 5px;
}

.tweet .tweet-header img{
  height: 100px;
}

.tweet .tweet-header .profileName{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 40px;
  padding-left: 8px;
  height: 140px;
}

.tweet .tweet-header .username{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-top: 44px;
  padding-right: 10px;
  height: 140px;
}

.tweet .tweet-body{
  padding: 1%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 10px;
  padding-bottom: 20px;
}

.tweet .tweet-body textarea {
  min-height: 80px;
  display: flex;
  align-self: flex-end;
  padding-left: 5px;
  padding-right: 5px;
}

.tweet .tweet-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
}

.tweet .tweet-footer .date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-bottom: 10px; */
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  width: 130px;
}

.icon img{
  width: 30px;
}

.tweet:hover {
  border: solid 10px;
  text-shadow: black 5px;
  box-shadow: black 20px;
  font-weight: bold;
  /* background-color:red; */
}

